<p>store works!</p>
<p>status: {{healthCheckMessage}}</p>
<!-- <p>totalItem: {{storeData | json}}</p> -->
<div *ngIf="storeData && storeData.totalEmployee != undefined">
    <p>totalEmployee: {{storeData.totalEmployee}}</p>
    <!-- <p>items: {{storeData.items}}</p>
    <p>storeHour: {{storeData.storeHour}}</p>
    <p>totalItem: {{storeData.totalItem}}</p> -->
</div>

<p>catalog: {{catalog | json}}</p>