<h3>Login</h3>
<div>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
            <mat-form-field appearance="fill">
                <mat-label>username</mat-label>
                <input type="text" id="username" [(ngModel)]="user.username" name="username" matInput required>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
                <mat-label>password</mat-label>
                <input type="password" id="password" [(ngModel)]="user.password" name="password" matInput required>
            </mat-form-field><br>
            <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">LOGIN</button>
        </div>
    </form>
</div>

  

