<div>
    <button class="button" (click)="navigateHomeClicked()">HOME</button>&nbsp;
    <button class="button"  (click)="navigateStoreClicked()">STORE</button>&nbsp;
    <button class="button"  (click)="navigateCatalogClicked()">CATALOG</button>&nbsp;
    <div class="cart-button"  (click)="navigateCartClicked()">CART ({{itemInCart}})</div>&nbsp;
    <div class="admin-button"  (click)="navigateCartClicked()">ADMIN</div>&nbsp;
    <div class="admin-button"  (click)="onLogout()">LOGOUT</div>
</div>
<hr>
<div>MY E-COMMERCE STORE</div><br>
<div>
    <button mat-raised-button color="primary" type="button" (click)="healthCheckClicked()">HEALTH CHECK</button>
    <span>{{healthCheckMessage}}</span>
</div><br/>
<mat-grid-list cols="2" rowHeight="2:1">
    <div *ngIf="isAddingItemToCart">
        <div [ngClass]="'loading'">loading... </div> 
    </div>
    <div *ngIf="!isAddingItemToCart && isItemSuccessfullyAdded">
        <div [ngClass]="'success-add-to-cart'">{{message}} - {{addItemToCartResponse.items | json}}</div>
    </div>
    <div *ngIf="!isAddingItemToCart && !isItemSuccessfullyAdded && isError">
        <div [ngClass]="'error-add-to-cart'">unable to add item to card {{message}}</div>
    </div>
    <div *ngFor="let item of items">
        <mat-grid-tile>
            <button mat-raised-button color="primary" type="button" (click)="addItem(item)">ADD TO CART</button>
        </mat-grid-tile>
    </div>
  </mat-grid-list>