mat-grid-tile {
  background: lightblue;
}

.success-add-to-cart {
  color: green;
  font-weight: bold;
  text-align: center;
}

.error-add-to-cart {
  color: red;
  font-weight: bold;
  text-align: center;
}

.loading {
  color: green;
  font-weight: bold;
  text-align: center;
}